@import './index.scss';

.grid {
    display: flex;
    flex-direction: row;
    padding-top:100px;
    width: 90%;
    margin: 0 auto;
    
}

.image {
    display: flex;
    width:100%;
    height: auto;
    // background-color: white;
    margin: 0 auto;
}

.text__title {
    font-size: 2.8rem;
    line-height:3.2rem;
    color:$dark--text;
    margin-bottom: 0px;
    margin-top: 15px;
    @include md {
    font-size: 4.2rem;
    line-height:4.6rem;
}
}

.text__content {
    font-size: 1.6rem;
    line-height:4rem;
    color: $medium--text;
    text-align:justify;
    width:95%;
}

.line {
    text-decoration: line-through;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:50px;
  
  }
  
  .button__cta {
  padding: 1rem 1rem .8125rem;
  border-radius: .625rem;
  background-color: #020202;
  -webkit-transition: background-color .1s cubic-bezier(.47, 0, .745, .715),-webkit-transform .1s;
  transition: transform .1s,background-color .1s cubic-bezier(.47, 0, .745, .715),-webkit-transform .1s;
  font-size: 1.4rem;
  line-height: 150%;
  font-weight: 700;
  color: white;
  display: flex;
  width:90%;
  justify-content:center;
  width:300px;
  
  @include md {
    width:300px;
    font-size: 1.6rem;
  
  }
  }
  
  .commingSoon {
    font-size: 4rem;
    text-align: center;
    color: $dark--text;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    font-weight: normal;
    line-height:4rem;
  
    @include lg {
      font-size: 6rem;
      line-height:4rem;
    }
  
    span {
      font-weight: bold;
    }
  }