@import './index.scss';

.projectGridContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
    height: 600px;
}

.projectGridContainerTitle {
    color: #373434;
    font-size: 2rem;
    margin-bottom: 40px;
}

.projectGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 auto;
    width: 100%;
  }
  
  .projectLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.5s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
  }
  
  .projectImage {
    width: 350px;
    height: calc(400px * 9 / 16); /* Calcula la altura proporcional en base a la relación de aspecto 16:9 */
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 20px;
  }
  
  .projectTitle {
    font-size: 16px;
    font-weight: bold;
  }
  