@import '../../styles/index.scss';

.navbar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 0;
    padding: 30px 10px;
    width: 90%;
    position:fixed;
    @include md {
        width: 80%;
        margin: 0 5%;
    }

    &__side {
        display: flex;
        flex-direction: row;
        align-items:center;
        font-size:1.6rem;
    }
}

.menu__toggler {
    display: flex;
    border: none;
    text-align: center;
    background-color: transparent;
    color: $dark--text;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2000;
    position: absolute;
    @include md {
        right: -16%;

    }
}

 .logo {
    padding:5px 5px;
    @include md {
    padding:20px 10px;
    }
}